<?xml version="1.0" ?>
<model>
        <name>Green airport light</name>
        <version>1.0</version>
        <sdf version="1.5">model.sdf</sdf>

        <author>
                <name>Martin Schuck</name>
                <email>martin.schuck@tum.de</email>
        </author>

        <description>
                Green airport light model for easy spawning.
        </description>
</model>
