<?xml version="1.0" ?>
<model> 
	<name>Airport ground plane</name> 
	<version>1.0</version> 
	<sdf version="1.4">model.sdf</sdf>
	
	<author>
		<name>Martin Schuck</name>
		<email>martin.schuck@tum.de</email>
	</author>

	<description>
		Ground plane model for the airport. Image taken from Google Maps.
	</description>
</model>
